@use "/src/styles/variables.scss";
@use "/src/styles/mixins/fonts-mixins" as fontsMixins;
@use "/src/styles/mixins/breakpoints-mixins" as breakpoints;

.contact {
  text-align: start;
  display: flex;
  align-items: center;

  @include breakpoints.for-md-screen {
    text-align: center;
    display: block;
  }

  .info {
    @include fontsMixins.paragraph-17-regular-dark-green;
    margin: 0 0 0 var(--space-10);
    width: auto;
    font-style: normal;

    @include breakpoints.for-md-screen {
      margin: var(--space-20) 0 0;
      @include fontsMixins.paragraph-17-regular;
      width: var(--space-225);
    }
  }
}
