@use "./mixins/breakpoints-mixins" as breakpoints;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  min-width: var(--space-280);

  // @include breakpoints.for-xsm-screen {
  //   overflow-x: scroll;
  // }
}

body {
  background-color: var(--light-bg-color);
  overflow-x: hidden;
  min-width: var(--space-280);

  // @include breakpoints.for-xsm-screen {
  //   overflow-x: scroll;
  // }
}

:root {
  /* Background colors */
  --primary-bg-color: #27959e;
  --primary-bg-color-op-10: rgba(39, 149, 158, 0.1);
  --primary-bg-color-op-15: rgba(39, 149, 158, 0.15);
  --secondary-bg-color: #bcdee1;
  --tertiary-bg-color: #e9f4f5;
  --light-bg-color: #fdfeff;
  --darker-light-bg-color: #f5f5f5;
  --white-bg-color: #ffffff;
  --white-bg-color-op-90: rgba(255, 255, 255, 0.9);
  --green-dark-bg-color-op-10: rgba(20, 97, 103, 0.1);
  --green-darkest-bg-color: #0f4e461a;

  /* Text colors */
  --white-text-color: #ffffff;
  --black-text-color: #000;
  --dark-text-color: #161616;
  --dark-light-text-color: #262626;
  --dark-lighter-text-color: #3a3a3a;
  --gray-light-text-color: #838383;
  --gray-light-darker-text-color: #5e5e5e;
  --green-dark-text-color: #09292b;
  --link-text-color: #27959e;
  --dark-red-text-color: #7f1414;

  /* Font family */
  --font-family: "Poppins", sans-serif;

  /* Font sizes */
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-17: 17px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-29: 29px;
  --font-size-32: 32px;
  --font-size-35: 35px;
  --font-size-38: 38px;
  --font-size-40: 40px;
  --font-size-42: 42px;
  --font-size-50: 50px;

  /* Font weights */
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;

  /* Spaces */
  --space-1: 1px;
  --space-2: 2px;
  --space-2-5: 2.5px;
  --space-3: 3px;
  --space-minus-3: -3px;
  --space-4: 4px;
  --space-4-5: 4.5px;
  --space-5: 5px;
  --space-6: 6px;
  --space-7: 7px;
  --space-8: 8px;
  --space-9: 9px;
  --space-10: 10px;
  --space-11: 11px;
  --space-12: 12px;
  --space-13: 13px;
  --space-14: 14px;
  --space-15: 15px;
  --space-16: 16px;
  --space-16-5: 16.5px;
  --space-16-8: 16.8px;
  --space-17: 17px;
  --space-minus-19: -19px;
  --space-20: 20px;
  --space-20-4: 20.4px;
  --space-21: 21px;
  --space-minus-21: -21px;
  --space-22: 22px;
  --space-24: 24px;
  --space-25: 25px;
  --space-minus-25: -25px;
  --space-25-5: 25.5px;
  --space-27: 27px;
  --space-28: 28px;
  --space-30: 30px;
  --space-31: 31px;
  --space-32: 32px;
  --space-33: 33px;
  --space-minus-33: -33px;
  --space-34: 34px;
  --space-34-8: 34.8px;
  --space-35: 35px;
  --space-minus-35: -35px;
  --space-36: 36px;
  --space-40: 40px;
  --space-41: 41px;
  --space-42: 42px;
  --space-44: 44px;
  --space-45: 45px;
  --space-48: 48px;
  --space-50: 50px;
  --space-50-4: 50.4px;
  --space-53: 53px;
  --space-56: 56px;
  --space-57: 57px;
  --space-60: 60px;
  --space-68: 68px;
  --space-70: 70px;
  --space-80: 80px;
  --space-82: 82px;
  --space-84: 84px;
  --space-90: 90px;
  --space-100: 100px;
  --space-113: 113px;
  --space-116: 116px;
  --space-119: 119px;
  --space-120: 120px;
  --space-140: 140px;
  --space-160: 160px;
  --space-180: 180px;
  --space-181: 181px;
  --space-193: 193px;
  --space-200: 200px;
  --space-220: 220px;
  --space-225: 225px;
  --space-246: 246px;
  --space-280: 280px;
  --space-290: 290px;
  --space-300: 300px;
  --space-320: 320px;
  --space-331: 331px;
  --space-339: 339px;
  --space-359: 359px;
  --space-360: 360px;
  --space-370: 370px;
  --space-400: 400px;
  --space-409: 409px;
  --space-411: 411px;
  --space-415: 415px;
  --space-495: 495px;
  --space-550: 550px;
  --space-700: 700px;
  --space-844: 844px;
  --space-876: 876px;
  --space-880: 880px;
  --space-915: 915px;
  --space-1111: 1111px;
  --space-1200: 1200px;
  --space-1262: 1262px;
  --space-1267: 1267px;
  --space-1340: 1340px;
  --space-1371: 1371px;
}
