@use "/src/styles/variables.scss";

section.modal {
  position: relative;
  background: map-get(
    $map: variables.$background-colors,
    $key: secondary-color
  );
  text-align: center;
  padding: 0 map-get($map: variables.$spaces, $key: space-72);
  p {
    display: inline-block;
    font-family: map-get(
      $map: variables.$text-font-family,
      $key: font-family-primary
    );
    font-size: map-get($map: variables.$text-size, $key: font-size-15);
    color: map-get($map: variables.$text-colors, $key: dark-color);
    margin: map-get($map: variables.$spaces, $key: space-12) 0;
    line-height: map-get($map: variables.$spaces, $key: space-24);
  }
  img {
    position: absolute;
    right: map-get($map: variables.$spaces, $key: space-72);
    top: map-get($map: variables.$spaces, $key: space-8);
  }
}
