@use "/src/styles/variables.scss";
@use "/src/styles/mixins/fonts-mixins" as fontsMixins;
@use "/src/ui/Button/components/Button.module.scss" as buttonModule;

.blogsSection {
  margin: 0;

  .contentWrapper {
    text-align: center;

    .header {
      @include fontsMixins.text-style-heading-48-bold;
      margin: var(--space-15) 0 var(--space-24);
    }

    .paragraphText {
      @include fontsMixins.text-style-paragraph-18-normal;
      margin: 0 0 var(--space-80);
    }
  }
}
