@use "/src/styles/variables.scss";
@use "/src/ui/Button/components/Button.module.scss" as buttonModule;

section.blogsSection {
  padding: 0 map-get($map: variables.$spaces, $key: space-80);
  text-align: center;
  margin: 0;
  h2 {
    font-family: map-get(
      $map: variables.$text-font-family,
      $key: font-family-secondary
    );
    font-size: map-get($map: variables.$text-size, $key: font-size-48);
    font-weight: map-get($map: variables.$text-weight, $key: bold);
    color: map-get($map: variables.$text-colors, $key: dark-color);
    margin: map-get($map: variables.$spaces, $key: space-15) 0
      map-get($map: variables.$spaces, $key: space-24);
  }
  p {
    font-family: map-get(
      $map: variables.$text-font-family,
      $key: font-family-primary
    );
    font-size: map-get($map: variables.$text-size, $key: font-size-18);
    color: map-get($map: variables.$text-colors, $key: lighter-dark-color);
    margin: 0 0 map-get($map: variables.$spaces, $key: space-80);
  }
  button {
    font-family: map-get(
      $map: variables.$text-font-family,
      $key: font-family-primary
    );
    font-weight: map-get($map: variables.$text-weight, $key: bold);
    @include buttonModule.button-style(
      map-get($map: variables.$text-colors, $key: dark-color),
      map-get($map: variables.$background-colors, $key: primary-color),
      64px,
      2px,
      none,
      map-get($map: variables.$spaces, $key: space-14),
      map-get($map: variables.$spaces, $key: space-26)
    );
    margin-top: map-get($map: variables.$spaces, $key: space-80);
  }
}
