@use "/src/styles/variables.scss";
@use "/src/styles/mixins/fonts-mixins" as fontsMixins;
@use "/src/ui/Button/components/Button.module.scss" as buttonModule;

section.blogsSection {
  margin: 0;
  div.contentWrapper {
    text-align: center;
    h2 {
      @include fontsMixins.text-style-heading-2(
        var(--font-size-48),
        var(--text-weight-bold),
        var(--space-57-60)
      );
      margin: var(--space-15) 0 var(--space-24);
    }
    p {
      @include fontsMixins.text-style-paragraph;
      margin: 0 0 var(--space-80);
    }
    button {
      font-weight: var(--text-weight-bold);
      margin-top: var(--space-80);
    }
  }
}
