@use "/src/styles/variables.scss";
@use "/src/styles/mixins/fonts-mixins" as fontsMixins;
@use "/src/ui/Button/components/Button.module.scss" as buttonModule;

.mainInfoSection {
  position: relative;
  margin: var(--space-128) 0;

  .contentWrapper {
    background: var(--secondary-bg-color);
    color: var(--dark-text-color);
    border-radius: var(--space-48);
    padding: var(--space-128) var(--space-64);
    text-align: center;

    .header {
      @include fontsMixins.text-style-heading-40-normal;
      margin: 0 0 var(--space-27);
    }

    .paragraphText {
      margin: 0;
      @include fontsMixins.text-style-paragraph-18-normal-dark;
    }

    .paragraphButtons {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--space-16);
    }
  }

  .absoluteImg {
    position: absolute;
    top: 0;
    right: var(--space-112);
  }
}
