@use "/src/styles/variables.scss";
@use "/src/styles/mixins/fonts-mixins" as fontsMixins;
@use "/src/ui/Button/components/Button.module.scss" as buttonModule;

section.mainInfoSection {
  position: relative;
  margin: var(--space-128) 0;
  div.contentWrapper {
    background: var(--secondary-bg-color);
    color: var(--dark-text-color);
    border-radius: var(--space-48);
    padding: var(--space-128) var(--space-64);
    text-align: center;
    h2 {
      @include fontsMixins.text-style-heading-2;
      margin: 0 0 var(--space-27);
    }
    p {
      margin: 0;
      &.paragraphText {
        @include fontsMixins.text-style-paragraph(
          var(--font-size-18),
          var(--text-weight-normal),
          var(--dark-text-color)
        );
      }

      &.paragraphButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          font-weight: var(--text-weight-bold);
          &:first-of-type {
            margin-right: var(--space-16);
          }
        }
      }
    }
  }
  img.absoluteImg {
    position: absolute;
    top: 0;
    right: var(--space-112);
  }
}
