@use "/src/styles/variables.scss";
@use "/src/styles/mixins/fonts-mixins" as fontsMixins;
@use "/src/styles/mixins/breakpoints-mixins" as breakpoints;

.continent {
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--space-11);
    margin-bottom: var(--space-5);

    @include breakpoints.for-md-screen {
      padding: 0 var(--space-33) 0 var(--space-17);
      margin-bottom: var(--space-17);
    }

    .title {
      @include fontsMixins.paragraph-17-semibold-green;

      @include breakpoints.for-md-screen {
        @include fontsMixins.headline4-bold-green;
      }
    }

    .more__btn {
      @include fontsMixins.paragraph-14-regular-green;
      cursor: pointer;

      @include breakpoints.for-md-screen {
        @include fontsMixins.paragraph-17-regular-green;
      }
    }
  }
}
