@use "/src/styles/variables.scss";
@use "/src/styles/mixins/fonts-mixins" as fontsMixins;

.continentWrapper {
  .continentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--space-33) 0 var(--space-17);
    margin-bottom: var(--space-17);

    .continentTitle {
      @include fontsMixins.headline4-bold-green;
    }

    .viewMoreBtn {
      @include fontsMixins.paragraph-17-regular-green;
      cursor: pointer;
    }
  }
}
