@use "/src/styles/variables.scss";
@use "/src/styles/mixins/fonts-mixins" as fontsMixins;
@use "/src/styles/mixins/breakpoints-mixins" as breakpoints;

.trip__card {
  position: relative;
  box-shadow: 0 0 var(--space-15) var(--green-darkest-bg-color);
  width: var(--space-180);
  height: var(--space-246);
  border-radius: var(--space-10);
  padding: var(--space-10);

  @include breakpoints.for-md-screen {
    width: var(--space-339);
    height: var(--space-409);
    border-radius: var(--space-20);
    padding: var(--space-30) var(--space-20);
  }

  .favourite__btn {
    position: absolute;
    top: var(--space-10);
    right: var(--space-10);

    @include breakpoints.for-md-screen {
      top: var(--space-30);
      right: var(--space-20);
    }
  }

  .header {
    @include fontsMixins.paragraph-17-semibold-dark;
    margin-bottom: var(--space-2);

    @include breakpoints.for-md-screen {
      @include fontsMixins.headline5-semibold;
      margin-bottom: var(--space-8);
    }
  }

  .date {
    @include fontsMixins.paragraph-12-regular-gray-light;
    display: flex;
    gap: var(--space-4);

    @include breakpoints.for-md-screen {
      @include fontsMixins.paragraph-14-regular-light;
    }
  }

  .photo {
    margin: var(--space-8) 0;

    @include breakpoints.for-md-screen {
      margin: var(--space-20) 0;
    }
  }

  .price__info {
    @include fontsMixins.paragraph-14-regular-light;
    display: flex;
    flex-direction: row;
    gap: var(--space-35);

    @include breakpoints.for-md-screen {
      @include fontsMixins.paragraph-16-regular-light;
      flex-direction: column;
      gap: var(--space-4);
    }

    .price {
      @include fontsMixins.paragraph-17-semibold-dark;

      @include breakpoints.for-md-screen {
        @include fontsMixins.headline5-semibold;
      }
    }
  }

  .link {
    @include fontsMixins.paragraph-12-regular-green;
    bottom: var(--space-10);
    right: var(--space-10);
    position: absolute;
    cursor: pointer;
    text-decoration: none;

    @include breakpoints.for-md-screen {
      @include fontsMixins.paragraph-14-regular-link;
      bottom: var(--space-30);
      right: var(--space-20);
    }
  }
}
