@use "/src/styles/variables.scss";

div.mainInfoCard {
  padding: map-get($map: variables.$spaces, $key: space-32)
    map-get($map: variables.$spaces, $key: space-42);
  background: map-get($map: variables.$background-colors, $key: primary-color);
  color: map-get($map: variables.$text-colors, $key: light-color);
  h3 {
    margin: map-get($map: variables.$spaces, $key: space-24) 0
      map-get($map: variables.$spaces, $key: space-17);
    font-family: map-get(
      $map: variables.$text-font-family,
      $key: font-family-secondary
    );
    font-size: map-get($map: variables.$text-size, $key: font-size-20);
    font-weight: map-get($map: variables.$text-weight, $key: normal);
  }
  p {
    margin: 0;
    font-family: map-get(
      $map: variables.$text-font-family,
      $key: font-family-primary
    );
    font-size: map-get($map: variables.$text-size, $key: font-size-16);
    word-wrap: break-word;
    line-height: map-get($map: variables.$spaces, $key: space-24);
  }
}
