@use "/src/styles/variables.scss";
@use "/src/styles/mixins/fonts-mixins" as fontsMixins;
@use "/src/ui/Button/components/Button.module.scss" as buttonModule;

.blogCard {
  position: relative;
  width: var(--space-403);
  border: var(--space-1) solid var(--dark-light-text-color);
  border-radius: var(--space-32);
  box-sizing: border-box;
  height: var(--space-664);

  .blogCardContent {
    height: 314px;
    padding: var(--space-24);

    .paragraphTags {
      @include fontsMixins.text-style-paragraph-14-normal;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--space-16);
      margin: 0;

      .spanFirst {
        @include fontsMixins.text-style-paragraph-13-normal;
        padding: var(--space-9) var(--space-17);
        border: var(--space-1) solid var(--dark-light-text-color);
        border-radius: var(--space-32);
      }
    }

    .paragraphText {
      @include fontsMixins.text-style-paragraph-16-normal;
      margin: 0 0 var(--space-24);
    }
  }

  .header {
    @include fontsMixins.text-style-heading-24-bold;
    margin: var(--space-18) 0 var(--space-5);
  }
}
