@use "/src/styles/variables.scss";
@use "/src/styles/mixins/fonts-mixins" as fontsMixins;

.comment {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  background: var(--white-bg-color);
  width: var(--space-624);
  border-radius: var(--space-32);
  padding: var(--space-23) var(--space-50) var(--space-36) var(--space-32);
  text-align: start;
  font-family: var(--font-family-primary);

  .commentWrapper {
    .stars {
      display: flex;
      gap: var(--space-4);
    }

    .commentContent {
      display: flex;
      gap: var(--space-16);

      .infoContainer {
        display: block;

        .commentName {
          margin: 0;
          @include fontsMixins.text-style-paragraph-15-normal;
        }

        .commentPosition {
          margin: 0;
          @include fontsMixins.text-style-paragraph-16-normal;
        }
      }
    }

    .paragraphText {
      @include fontsMixins.text-style-paragraph-18-normal;
      margin: var(--space-26) 0 var(--space-22);
    }
  }
}
