@use "/src/styles/variables.scss";

.socialLink {
  padding: map-get($map: variables.$spaces, $key: space-6)
    map-get($map: variables.$spaces, $key: space-8);
  margin: 0;
  background: map-get(
    $map: variables.$background-colors,
    $key: secondary-color
  );
  border-radius: map-get($map: variables.$spaces, $key: space-32);
}
