@use "/src/styles/variables.scss";
@use "/src/styles/mixins/fonts-mixins" as fontsMixins;

.articleTag {
  background: var(--secondary-bg-color);
  padding: var(--space-4) var(--space-12);
  border-radius: var(--space-64);
  @include fontsMixins.text-style-paragraph-tag;
}
