@use "/src/styles/variables.scss";
@use "/src/styles/mixins/breakpoints-mixins" as breakpoints;

.hot__trips {
  display: flex;
  justify-content: center;
  margin: var(--space-15) 0 var(--space-20);
  overflow-x: auto;

  @include breakpoints.for-md-screen {
    margin: var(--space-50) 0;
  }

  .content {
    display: flex;
    overflow-x: auto;
    gap: var(--space-4);
    @include breakpoints.for-md-screen {
      gap: var(--space-30);
    }
  }
}
