@use "/src/styles/variables.scss";
@use "/src/styles/mixins/breakpoints-mixins" as breakpoints;

.container {
  padding: 0 var(--space-30);
  margin: 0 auto;

  @include breakpoints.for-md-screen {
    padding: 0 var(--space-10);
  }
}
