@use "/src/styles/variables.scss";
@use "/src/styles/mixins/fonts-mixins" as fontsMixins;
@use "/src/ui/Button/components/Button.module.scss" as buttonModule;

.efficientArticleSection {
  position: relative;

  .contentWrapper {
    display: flex;
    gap: var(--space-80);

    .textWrapper {
      margin: auto 0;

      .header {
        @include fontsMixins.text-style-heading-40-normal;
        margin: var(--space-15) 0 var(--space-27);
      }
      .paragraphText {
        @include fontsMixins.text-style-paragraph-18-normal;
        margin: 0 0 var(--space-38);
      }

      .paragraphButtons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: var(--space-16);
      }

      .efficientCards {
        display: flex;
        gap: var(--space-26);
        margin: 0 0 var(--space-31);

        .efficientCard {
          margin: 0;

          .cardHeader {
            @include fontsMixins.text-style-heading-20-normal-dark;
            margin: var(--space-16) 0 var(--space-17);
          }

          .cardText {
            @include fontsMixins.text-style-paragraph-16-normal;
            margin: 0;
          }
        }
      }
    }
  }

  .articlePercentage {
    bottom: var(--space-48);
    right: var(--space-308);
  }
}
