@use "/src/styles/variables.scss";
@use "/src/styles/mixins/fonts-mixins" as fontsMixins;
@use "/src/ui/Button/components/Button.module.scss" as buttonModule;

section.speedArticleSection {
  position: relative;
  div {
    &.contentWrapper {
      display: flex;
      gap: var(--space-80);
      position: relative;
      div {
        &.textWrapper {
          margin: auto 0;
          h2 {
            @include fontsMixins.text-style-heading-2;
            margin: var(--space-15) 0 var(--space-27);
          }
          p {
            &.paragraphText {
              margin: 0 0 var(--space-32);
              @include fontsMixins.text-style-paragraph;
            }

            &.paragraphButtons {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              button {
                &:first-of-type {
                  margin-right: var(--space-16);
                }
              }
            }
          }
        }
      }
    }
  }
  .imgWave {
    position: absolute;
    right: 0;
    top: 0;
  }
  div.articlePercentage {
    bottom: var(--space-48);
    left: var(--space-308);
  }
}
