@use "/src/styles/variables.scss";
@use "/src/styles/mixins/fonts-mixins" as fontsMixins;
@use "/src/ui/Button/components/Button.module.scss" as buttonModule;

.heroSection {
  position: relative;
  background: var(--primary-bg-color);
  padding: var(--space-95) 0 var(--space-427);
  margin: 0 0 var(--space-448);

  .contentWrapper {
    color: var(--light-text-color);
    width: fit-content;
    margin: 0 auto;
    text-align: center;

    .header {
      @include fontsMixins.text-style-heading-56-bold;
      margin: 0 0 var(--space-26);
    }

    .paragraphText {
      @include fontsMixins.text-style-paragraph-20-normal-light;
      margin: 0 0 var(--space-38);
    }

    .paragraphButtons {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--space-32);
    }

    .paragraphImages {
      display: flex;
      margin: 0;
      gap: var(--space-32);
      justify-content: space-between;
      padding: var(--space-32) var(--space-67);

      .logoImage1,
      .logoImage2 {
        position: relative;
        top: 0;
        height: var(--space-35);
        width: var(--space-132);
      }

      .logoImage3 {
        position: relative;
        top: 0;
        height: var(--space-35);
        width: var(--space-134);
      }

      .logoImage4 {
        position: relative;
        top: 0;
        height: var(--space-35);
        width: var(--space-140);
      }
    }
  }

  .filledDiv {
    position: absolute;
    width: 100%;
    margin-left: var(--space-minus-80);
    bottom: 0;
    height: var(--space-320);
    background: var(--primary-bg-color);
  }

  .videoWrapper {
    position: absolute;
    width: 100%;
    margin: var(--space-104) 0 0 var(--space-minus-80);
  }

  .absoluteImg1 {
    position: absolute;
    top: var(--space-100);
    left: 0;
    width: var(--space-187);
    height: var(--space-250);
  }

  .absoluteImg2 {
    position: absolute;
    top: var(--space-260);
    right: 0;
    width: var(--space-170);
    height: var(--space-240);
  }

  .absoluteImg3 {
    position: absolute;
    bottom: var(--space-160);
    left: 0;
    width: var(--space-260);
    height: var(--space-275);
  }
}
