@use "/src/styles/variables.scss";

.comments {
  display: flex;
  gap: var(--space-32);
  justify-content: center;

  .commentsColOne {
    display: flex;
    flex-direction: column;
    gap: var(--space-45);
  }

  .commentsColTwo {
    display: flex;
    flex-direction: column;
    gap: var(--space-45);
    margin-top: var(--space-47);
  }
}
