@use "/src/styles/variables.scss";

div.blogCards {
  display: flex;
  gap: var(--space-32);
  justify-content: center;

  div.blogCardsCol {
    display: flex;
    flex-direction: column;
    gap: var(--space-45);
    &:last-of-type {
      margin-top: var(--space-47);
    }
  }
}
