@use "/src/styles/variables.scss";
@use "/src/styles/mixins/card-price-mixins.scss" as cardModule;
@use "/src/ui/Button/components/Button.module.scss" as buttonModule;

div.pricingCard {
  position: relative;
  div {
    padding: map-get($map: variables.$spaces, $key: space-112)
      map-get($map: variables.$spaces, $key: space-32) 0;
    box-sizing: border-box;
    text-align: start;
    width: map-get($map: variables.$spaces, $key: space-405);
    h3 {
      font-family: map-get(
        $map: variables.$text-font-family,
        $key: font-family-secondary
      );
      font-size: map-get($map: variables.$text-size, $key: font-size-20);
      font-weight: map-get($map: variables.$text-weight, $key: normal);
      margin: 0;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        position: relative;
        font-family: map-get(
          $map: variables.$text-font-family,
          $key: font-family-primary
        );
        font-size: map-get($map: variables.$text-size, $key: font-size-15);
        padding: 0 0 0 map-get($map: variables.$spaces, $key: space-40);
        line-height: map-get($map: variables.$spaces, $key: space-24);
        &:not(:last-of-type) {
          margin: 0 0 map-get($map: variables.$spaces, $key: space-16);
        }
      }
    }
    img {
      position: absolute;
      top: map-get($map: variables.$spaces, $key: space-32);
      right: map-get($map: variables.$spaces, $key: space-32);
    }
    &.primaryPricingCard {
      @include cardModule.card-price-style(
        map-get($map: variables.$background-colors, $key: secondary-color),
        map-get($map: variables.$spaces, $key: space-32),
        map-get($map: variables.$text-colors, $key: dark-color)
      );
      height: map-get($map: variables.$spaces, $key: space-732);
      p {
        &:first-of-type {
          color: map-get($map: variables.$text-colors, $key: dark-color);
          font-family: map-get(
            $map: variables.$text-font-family,
            $key: font-family-secondary
          );
          font-size: map-get($map: variables.$text-size, $key: font-size-32);
          margin: map-get($map: variables.$spaces, $key: space-7) 0
            map-get($map: variables.$spaces, $key: space-8);
          span {
            font-size: map-get($map: variables.$text-size, $key: font-size-56);
          }
        }
        &:nth-of-type(2) {
          color: map-get($map: variables.$text-colors, $key: dark-color);
          font-family: map-get(
            $map: variables.$text-font-family,
            $key: font-family-primary
          );
          font-size: map-get($map: variables.$text-size, $key: font-size-16);
          margin: 0;
        }
        &:last-of-type {
          color: map-get($map: variables.$text-colors, $key: dark-color);
          font-family: map-get(
            $map: variables.$text-font-family,
            $key: font-family-primary
          );
          font-size: map-get($map: variables.$text-size, $key: font-size-15);
          margin: 0 0 map-get($map: variables.$spaces, $key: space-24);
        }
      }
      hr {
        background: map-get(
          $map: variables.$text-colors,
          $key: darker-light-color
        );
        height: map-get($map: variables.$spaces, $key: space-1);
        border: none;
        margin: map-get($map: variables.$spaces, $key: space-32) 0;
      }
      ul {
        li {
          &::before {
            content: url("../../../../../public/icons/PricingSection/marker-dark.svg");
            position: absolute;
            left: 0;
          }
        }
      }
      button {
        font-family: map-get(
          $map: variables.$text-font-family,
          $key: font-family-primary
        );
        margin: 0;
        font-weight: map-get($map: variables.$text-weight, $key: bold);
        position: absolute;
        bottom: map-get($map: variables.$spaces, $key: space-32);
        left: map-get($map: variables.$spaces, $key: space-32);
        @include buttonModule.button-style(
          map-get($map: variables.$text-colors, $key: light-color),
          map-get($map: variables.$background-colors, $key: primary-color),
          64px,
          2px,
          map-get($map: variables.$background-colors, $key: primary-color),
          map-get($map: variables.$spaces, $key: space-14),
          map-get($map: variables.$spaces, $key: space-127)
        );
      }
    }
    &.secondaryPricingCard {
      @include cardModule.card-price-style(
        map-get($map: variables.$background-colors, $key: primary-color),
        map-get($map: variables.$spaces, $key: space-32),
        map-get($map: variables.$text-colors, $key: light-color)
      );
      height: map-get($map: variables.$spaces, $key: space-668);
      p {
        &:first-of-type {
          color: map-get($map: variables.$text-colors, $key: light-color);
          font-family: map-get(
            $map: variables.$text-font-family,
            $key: font-family-secondary
          );
          font-size: map-get($map: variables.$text-size, $key: font-size-32);
          margin: map-get($map: variables.$spaces, $key: space-7) 0
            map-get($map: variables.$spaces, $key: space-8);
          span {
            font-size: map-get($map: variables.$text-size, $key: font-size-56);
          }
        }
        &:nth-of-type(2) {
          color: map-get($map: variables.$text-colors, $key: light-color);
          font-family: map-get(
            $map: variables.$text-font-family,
            $key: font-family-primary
          );
          font-size: map-get($map: variables.$text-size, $key: font-size-16);
          margin: 0;
        }
        &:last-of-type {
          color: map-get($map: variables.$text-colors, $key: light-color);
          font-family: map-get(
            $map: variables.$text-font-family,
            $key: font-family-primary
          );
          font-size: map-get($map: variables.$text-size, $key: font-size-15);
          margin: 0 0 map-get($map: variables.$spaces, $key: space-24);
        }
      }
      hr {
        background: map-get(
          $map: variables.$text-colors,
          $key: light-dark-color
        );
        height: map-get($map: variables.$spaces, $key: space-1);
        border: none;
        margin: map-get($map: variables.$spaces, $key: space-32) 0;
      }
      ul {
        li {
          &::before {
            content: url("../../../../../public/icons/PricingSection/marker-light.svg");
            position: absolute;
            left: 0;
          }
        }
      }
      button {
        font-family: map-get(
          $map: variables.$text-font-family,
          $key: font-family-primary
        );
        margin: 0;
        font-weight: map-get($map: variables.$text-weight, $key: bold);
        position: absolute;
        bottom: map-get($map: variables.$spaces, $key: space-32);
        left: map-get($map: variables.$spaces, $key: space-32);
        @include buttonModule.button-style(
          map-get($map: variables.$text-colors, $key: dark-color),
          map-get($map: variables.$background-colors, $key: secondary-color),
          64px,
          2px,
          map-get($map: variables.$background-colors, $key: secondary-color),
          map-get($map: variables.$spaces, $key: space-14),
          map-get($map: variables.$spaces, $key: space-127)
        );
      }
    }
  }
}
