@use "/src/styles/variables.scss";
@use "/src/styles/mixins/fonts-mixins" as fontsMixins;
@use "/src/ui/Button/components/Button.module.scss" as buttonModule;

header.header {
  div.headerContent {
    display: flex;
    justify-content: space-between;
    padding: var(--space-14) 0;
    nav {
      ul {
        @include fontsMixins.text-style-paragraph(
          var(--font-size-16),
          var(--text-weight-normal),
          var(--dark-text-color)
        );
        list-style-type: none;
        display: inline;
        padding: 0;
        cursor: pointer;
        li {
          display: inline;
          margin-right: var(--space-32);

          &:last-of-type {
            margin-right: var(--space-16);
          }
        }

        button {
          &:first-of-type {
            margin-right: var(--space-8);
          }
        }
      }
    }
  }
}
