@use "/src/styles/variables.scss";
@use "/src/styles/mixins/fonts-mixins" as fontsMixins;
@use "/src/ui/Button/components/Button.module.scss" as buttonModule;

.header {
  .headerContent {
    display: flex;
    justify-content: space-between;
    padding: var(--space-14) 0;

    .logoImg {
      align-self: center;
    }

    .navigationWrapper {
      .navigationList {
        @include fontsMixins.text-style-paragraph-16-normal-dark;
        list-style-type: none;
        display: inline;
        padding: 0;
        cursor: pointer;

        .navigationListItem {
          display: inline;
          margin-right: var(--space-32);

          &:last-of-type {
            margin-right: var(--space-16);
          }
        }

        .buttonsContainer {
          display: inline-flex;
          gap: var(--space-8);
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
