@use "/src/styles/variables.scss";
@use "/src/styles/mixins/breakpoints-mixins" as breakpoints;

.quote__section {
  display: none;

  @include breakpoints.for-md-screen {
    display: block;
    margin: var(--space-60) 0 var(--space-70);
  }
}
