@use "/src/styles/variables.scss";
@use "/src/styles/mixins/fonts-mixins" as fontsMixins;

.heroSection {
  margin: var(--space-50) 0;

  .content {
    text-align: center;

    .title {
      @include fontsMixins.headline2-regular;

      .titleHighlight {
        @include fontsMixins.paragraph-50-bold-green;
      }
    }

    .text {
      @include fontsMixins.paragraph-28-regular;
      width: var(--space-1111);
      margin: 0 auto;

      .textHighlight {
        @include fontsMixins.paragraph-38-semibold;
      }
    }
  }
}
