@use "/src/styles/mixins/btn-mixins.scss" as btnMixins;

button {
  &.filledBtnPrimary {
    @include btnMixins.filledBtnPrimary;
  }

  &.filledBtnPrimaryBigger {
    @include btnMixins.filledBtnPrimaryBigger;
  }

  &.filledBtnPrimaryBiggestBold {
    margin: 0;
    position: absolute;
    bottom: var(--space-32);
    left: var(--space-32);
    @include btnMixins.filledBtnPrimaryBiggestBold;
  }

  &.filledBtnSecondary {
    @include btnMixins.filledBtnSecondary;
  }

  &.filledBtnSecondaryBold {
    @include btnMixins.filledBtnSecondaryBold;
  }

  &.filledBtnSecondaryBigger {
    @include btnMixins.filledBtnSecondaryBigger;
  }

  &.filledBtnSecondaryBiggerBold {
    @include btnMixins.filledBtnSecondaryBiggerBold;
  }

  &.filledBtnSecondaryBiggestBold {
    margin: 0;
    position: absolute;
    bottom: var(--space-32);
    left: var(--space-32);
    @include btnMixins.filledBtnSecondaryBiggestBold;
  }

  &.outlinedBtn {
    @include btnMixins.outlinedBtn;
  }

  &.outlinedBtnBigger {
    @include btnMixins.outlinedBtnBigger;
  }

  &.outlinedBtnBiggerBold {
    @include btnMixins.outlinedBtnBiggerBold;
  }

  &.outlinedBtnBiggerBoldBlogsSection {
    @include btnMixins.outlinedBtnBiggerBold;
    margin-top: var(--space-80);
  }

  &.arrowBtnSmall {
    @include btnMixins.arrowBtnSmall;
  }

  &.arrowBtnSmallBold {
    @include btnMixins.arrowBtnSmallBold;
  }

  &.arrowBtnSmallDark {
    @include btnMixins.arrowBtnSmallDark;
  }

  &.arrowBtnSmallDarkBold {
    @include btnMixins.arrowBtnSmallDarkBold;
  }

  &.arrowBtnBig {
    @include btnMixins.arrowBtnBig;
  }
}
