@use "/src/styles/variables.scss";
@use "/src/styles/mixins/fonts-mixins" as fontsMixins;
@use "/src/styles/mixins/breakpoints-mixins" as breakpoints;

.footer {
  background-color: var(--secondary-bg-color);
  padding: var(--space-25) 0;

  @include breakpoints.for-md-screen {
    padding: var(--space-50) 0 var(--space-82);
  }

  .content {
    margin: 0 auto;
    max-width: var(--space-320);
    display: flex;
    gap: var(--space-30);
    flex-direction: column-reverse;

    @include breakpoints.for-md-screen {
      flex-direction: column;
      gap: var(--space-50);
      align-items: center;
      max-width: var(--space-1200);
    }

    .divider {
      display: none;

      @include breakpoints.for-md-screen {
        display: block;
        background-color: var(--white-bg-color);
        border: none;
        height: var(--space-1);
        width: 100%;
      }
    }

    .lists {
      display: flex;
      width: 100%;
      gap: var(--space-14);
      flex-direction: column;

      @include breakpoints.for-md-screen {
        flex-direction: row;
        max-width: var(--space-844);
        justify-content: space-between;
      }

      .list {
        @include fontsMixins.paragraph-17-regular;
        list-style: none;

        .heading {
          @include fontsMixins.paragraph-14-semibold-dark-green;
          margin: 0;
          padding: var(--space-4) var(--space-10) var(--space-6);
          border-bottom: var(--space-1) solid var(--green-dark-text-color);

          @include breakpoints.for-md-screen {
            @include fontsMixins.headline6-semibold;
            margin: 0 0 var(--space-20) 0;
            padding: 0;
            border-bottom: 0;
          }
        }

        .item {
          cursor: pointer;
          display: none;

          @include breakpoints.for-md-screen {
            display: block;
          }

          &:not(:last-of-type) {
            @include breakpoints.for-md-screen {
              margin-bottom: var(--space-4);
            }
          }

          .link {
            @include breakpoints.for-md-screen {
              display: flex;
              align-content: center;
            }

            .icon {
              @include breakpoints.for-md-screen {
                margin-right: var(--space-10);
              }
            }
          }
        }
      }
    }
  }
}
