@use "sass:map";
@use "../variables.scss";

@mixin button-style(
  $btn-text-color,
  $btn-border-color,
  $btn-radius,
  $btn-border: none,
  $btn-background: none,
  $btn-padding-y: var(--space-14),
  $btn-padding-x: var(--space-26),
  $btn-text-size: var(--font-size-15),
  $btn-border-style: solid
) {
  @if $btn-border != "none" {
    border: $btn-border $btn-border-style $btn-border-color;
    border-radius: $btn-radius;
  } @else {
    border: $btn-border;
  }
  font-family: var(--font-family-primary);
  font-size: $btn-text-size;
  color: $btn-text-color;
  background: $btn-background;
  padding: $btn-padding-y $btn-padding-x;
}
