@use "sass:map";
@use "../variables.scss";

@mixin primaryCardPrice {
  color: var(--dark-text-color);
  background: var(--secondary-bg-color);
  border-radius: var(--space-32);
}

@mixin secondaryCardPrice {
  color: var(--light-text-color);
  background: var(--primary-bg-color);
  border-radius: var(--space-32);
}
