@use "/src/styles/variables.scss";
@use "/src/styles/mixins/breakpoints-mixins" as breakpoints;

.continent__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-11);

  @include breakpoints.for-md-screen {
    gap: var(--space-48);
  }
}
