@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700&display=swap");

html {
  /* ---Cuctom properties--- */

  /* font family */
  --fontFamily: "Roboto", sans-serif;

  /* font weight */
  --normalFont: 400;
  --boldFont: 700;

  /* font size */
  --fontSize-11: 11px;
  --fontSize-10: 10px;
  --fontSize-12: 12px;
  --fontSize-13-25: 13.25px;
  --fontSize-16: 16px;

  /* font colors */
  --primaryFontColor: #0e0e0e;
  --secondaryFontColor: #575756;
  --lighterGrayFontColor: #787878;
  --lightGrayFontColor: #d5d7dd;
  --orangeFontColor: #ff7a00;
  --linkFontColor: #2a3d6e;

  /* background colors */
  --primaryBgColor: #fff;
  --secondaryBgColor: #ededed;
  --cyanBgColor: #11adcf;
  --orangeBgColor: #ff7a00;
  --redBgColor: #f93939;

  /* spaces */
  --space-0-55: 0.55px;
  --space-1-10: 1.1px;
  --space-7-73: 7.73px;
  --space-10: 10px;
  --space-11: 11px;
  --space-11-72: 11.72px;
  --space-12-16: 12.16px;
  --space-12-94: 12.94px;
  --space-13-25: 13.25px;
  --space-14: 14px;
  --space-15: 15px;
  --space-15-53: 15.53px;
  --space-18: 18px;
  --space-18-77: 18.77px;
  --space-23-18: 23.18px;
  --space-24: 24px;
  --space-50: 50px;
  --space-242-61: 242.61px;
  --space-272-69: 272.69px;
  --space-579: 579px;
  --space-687: 687px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.emailWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailContent {
  width: var(--space-579);
  height: var(--space-687);
  border: var(--space-1-10) solid var(--secondaryBgColor);
  border-radius: var(--space-10);
  padding: var(--space-15) 0;
  border-collapse: collapse;
  overflow: scroll;
}

/* --- header --- */

.headerContent {
  width: 100%;
  height: fit-content;
}

.headerTitleWrapper .headerIcons {
  padding: 0 0 var(--space-13-25) var(--space-18-77);
  width: var(--space-272-69);
}

.headerIcons .circleBlue,
.headerIcons .circleOrange,
.headerIcons .circleRed {
  display: inline-block;
  width: var(--space-11);
  height: var(--space-11);
  border-radius: 50%;
}

.headerIcons .circleBlue {
  background-color: var(--cyanBgColor);
  margin-right: var(--space-7-73);
}

.headerIcons .circleOrange {
  background-color: var(--orangeBgColor);
  margin-right: var(--space-7-73);
}

.headerIcons .circleRed {
  background-color: var(--redBgColor);
  margin-right: 0;
}

.headerTitleWrapper .headerTitle {
  padding: 0 var(--space-18-77) var(--space-13-25) 0;
  font-family: var(--fontFamily);
  font-size: var(--fontSize-11);
  font-weight: var(--normalFont);
  line-height: var(--space-12-94);
  color: var(--secondaryFontColor);
}

.headerAddressContainer .headerAddress {
  border-top: var(--space-0-55) solid var(--lightGrayFontColor);
  border-bottom: var(--space-0-55) solid var(--lightGrayFontColor);
  padding: var(--space-11) 0 var(--space-11) var(--space-23-18);
  color: var(--lighterGrayFontColor);
  font-family: var(--fontFamily);
  font-size: var(--fontSize-13-25);
  font-weight: var(--normalFont);
  line-height: var(--space-15-53);
}

/* --- main content --- */

.mainWrapper {
  padding: var(--space-12-16) var(--space-18) var(--space-50) var(--space-24);
}

.mainTextContainer .mainText {
  color: var(--primaryFontColor);
  font-family: var(--fontFamily);
  font-size: var(--fontSize-16);
  font-weight: var(--normalFont);
  line-height: var(--space-24);
}

.mainTextContainer .mainText .mainTextBold {
  font-weight: var(--boldFont);
}

.mainTextContainer .mainText .mainTextOrange {
  font-weight: var(--boldFont);
  color: var(--orangeFontColor);
}

/* --- signature --- */

.signatureWrapper {
  padding: 0 var(--space-242-61) 0 var(--space-24);
}

.signatureWrapper .signatureLinkSite {
  color: var(--linkFontColor);
  font-family: var(--fontFamily);
  font-size: var(--fontSize-12);
  font-weight: var(--normalFont);
  line-height: var(--space-14);
  text-decoration: underline;
}

.signatureWrapper .signatureLinkSocial {
  text-align: end;
}

.signatureLinkSocial .signatureLinkSocialList {
  list-style: none;
  display: inline-block;
  width: fit-content;
}

.signatureLinksWrapper .signatureLinkSocialListItem {
  display: inline-block;
}

.signatureLinkSocialListItem .signatureLinkFacebook {
  margin-right: var(--space-10);
}

.signatureTextWrapper .signatureText {
  color: var(--secondaryFontColor);
  font-family: var(--fontFamily);
  font-size: var(--fontSize-10);
  font-weight: var(--normalFont);
  line-height: var(--space-11-72);
}
