@use "/src/styles/mixins/breakpoints-mixins" as breakpoints;

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-14);

  @include breakpoints.for-md-screen {
    flex-direction: row;
    max-width: var(--space-915);
    width: 100%;
    justify-content: space-between;
  }
}
