@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz@0,9..144;1,9..144&family=Space+Grotesk:wght@300..700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  /* Background colors */
  --primary-bg-color: #162e3c;
  --secondary-bg-color: #ddf0a7;
  --white-bg-color: #fff;

  /* Text colors */
  --dark-text-color: #162e3c;
  --light-dark-text-color: #223e4e;
  --lighter-dark-text-color: #49616e;
  --light-text-color: #fff;
  --darker-light-text-color: #d1e39e;
  --dark-light-text-color: #e5e7eb;

  /* Font families */
  --font-family-primary: "Space Grotesk";
  --font-family-secondary: "Fraunces";

  /* Font weights */
  --text-weight-normal: 400;
  --text-weight-bold: 700;

  /* Font sizes */
  --font-size-11: 11px;
  --font-size-13: 13px;
  --font-size-14: 14px;
  --font-size-15: 15px;
  --font-size-16: 16px;
  --font-size-17: 17px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-32: 32px;
  --font-size-40: 40px;
  --font-size-48: 48px;
  --font-size-56: 56px;

  /* Spaces */
  --space-minus-242: -242px;
  --space-minus-80: -80px;
  --space-1: 1px;
  --space-2: 2px;
  --space-4: 4px;
  --space-5: 5px;
  --space-6: 6px;
  --space-7: 7px;
  --space-8: 8px;
  --space-9: 9px;
  --space-10: 10px;
  --space-12: 12px;
  --space-13: 13px;
  --space-14: 14px;
  --space-15: 15px;
  --space-16: 16px;
  --space-17: 17px;
  --space-18: 18px;
  --space-19: 19px;
  --space-20: 20px;
  --space-21: 21px;
  --space-22: 22px;
  --space-23: 23px;
  --space-24: 24px;
  --space-26: 26px;
  --space-27: 27px;
  --space-28: 28px;
  --space-29: 29px;
  --space-30: 30px;
  --space-31: 31px;
  --space-32: 32px;
  --space-33-6: 33.6px;
  --space-35: 35px;
  --space-36: 36px;
  --space-38: 38px;
  --space-40: 40px;
  --space-41-60: 41.6px;
  --space-42: 42px;
  --space-45: 45px;
  --space-47: 47px;
  --space-48: 48px;
  --space-50: 50px;
  --space-54: 54px;
  --space-56: 56px;
  --space-57-60: 57.6px;
  --space-62: 62px;
  --space-64: 64px;
  --space-65: 65px;
  --space-67: 67px;
  --space-67-20: 67.2px;
  --space-72: 72px;
  --space-80: 80px;
  --space-81: 81px;
  --space-88: 88px;
  --space-92: 92px;
  --space-93: 93px;
  --space-95: 95px;
  --space-100: 100px;
  --space-101: 101px;
  --space-104: 104px;
  --space-112: 112px;
  --space-122: 122px;
  --space-125: 125px;
  --space-127: 127px;
  --space-128: 128px;
  --space-132: 132px;
  --space-134: 134px;
  --space-140: 140px;
  --space-141: 141px;
  --space-142: 142px;
  --space-160: 160px;
  --space-167: 167px;
  --space-170: 170px;
  --space-180: 180px;
  --space-187: 187px;
  --space-200: 200px;
  --space-240: 240px;
  --space-250: 250px;
  --space-256: 256px;
  --space-260: 260px;
  --space-268: 268px;
  --space-274: 274px;
  --space-275: 275px;
  --space-280: 280px;
  --space-300: 300px;
  --space-308: 308px;
  --space-320: 320px;
  --space-322: 322px;
  --space-368: 368px;
  --space-403: 403px;
  --space-405: 405px;
  --space-420: 420px;
  --space-427: 427px;
  --space-448: 448px;
  --space-504: 504px;
  --space-600: 600px;
  --space-624: 624px;
  --space-664: 664px;
  --space-668: 668px;
  --space-732: 732px;
}
