@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz@0,9..144;1,9..144&family=Space+Grotesk:wght@300..700&display=swap");

$background-colors: (
  "primary-color": #162e3c,
  "secondary-color": #ddf0a7,
  "white-color": #fff,
);

$text-colors: (
  "dark-color": #162e3c,
  "light-dark-color": #223e4e,
  "lighter-dark-color": #49616e,
  "light-color": #fff,
  "darker-light-color": #d1e39e,
);

$text-font-family: (
  "font-family-primary": "Space Grotesk",
  "font-family-secondary": "Fraunces",
);

$text-weight: (
  "normal": 400,
  "bold": 700,
);

$text-size: (
  "font-size-11": 11px,
  "font-size-13": 13px,
  "font-size-14": 14px,
  "font-size-15": 15px,
  "font-size-16": 16px,
  "font-size-17": 17px,
  "font-size-18": 18px,
  "font-size-20": 20px,
  "font-size-24": 24px,
  "font-size-32": 32px,
  "font-size-40": 40px,
  "font-size-48": 48px,
  "font-size-56": 56px,
);

$spaces: (
  "space-1": 1px,
  "space-4": 4px,
  "space-6": 6px,
  "space-7": 7px,
  "space-8": 8px,
  "space-10": 10px,
  "space-12": 12px,
  "space-14": 14px,
  "space-15": 15px,
  "space-16": 16px,
  "space-17": 17px,
  "space-21": 21px,
  "space-22": 22px,
  "space-24": 24px,
  "space-26": 26px,
  "space-27": 27px,
  "space-31": 31px,
  "space-32": 32px,
  "space-38": 38px,
  "space-40": 40px,
  "space-42": 42px,
  "space-48": 48px,
  "space-62": 62px,
  "space-64": 64px,
  "space-65": 65px,
  "space-67": 67px,
  "space-80": 80px,
  "space-88": 88px,
  "space-95": 95px,
  "space-100": 100px,
  "space-104": 104px,
  "space-112": 112px,
  "space-125": 125px,
  "space-127": 127px,
  "space-128": 128px,
  "space-160": 160px,
  "space-260": 260px,
  "space-274": 274px,
  "space-308": 308px,
  "space-320": 320px,
  "space-405": 405px,
  "space-420": 420px,
  "space-427": 427px,
  "space-448": 448px,
  "space-504": 504px,
  "space-668": 668px,
  "space-732": 732px,
);
