@use "/src/styles/variables.scss";
@use "/src/styles/mixins/fonts-mixins" as fontsMixins;
@use "/src/ui/Button/components/Button.module.scss" as buttonModule;

.contactsSection {
  padding: 0 var(--space-80);
  text-align: center;
  margin: var(--space-128) 0 var(--space-minus-242);

  .contentWrapper {
    position: relative;
    background: var(--secondary-bg-color);
    border-radius: var(--space-48);
    padding: var(--space-95) 0 var(--space-93);

    .header {
      @include fontsMixins.text-style-heading-40-normal;
      margin: 0;
    }

    .paragraphText {
      @include fontsMixins.text-style-paragraph-18-normal-dark;
      margin: var(--space-27) 0 var(--space-30);
    }

    .formContainer {
      input {
        margin-right: var(--space-16);
      }
    }

    .formInstruction {
      @include fontsMixins.text-style-small;
      display: inline-block;
      margin: var(--space-19) 0 0;
    }

    .image {
      position: absolute;
      top: 0;
      right: var(--space-64);
    }
  }
}
