@use "/src/styles/variables.scss";
@use "/src/styles/mixins/fonts-mixins" as fontsMixins;
@use "/src/styles/mixins/breakpoints-mixins" as breakpoints;

.menu_wrapper {
  display: none;

  .blur_container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    z-index: 3;
    display: none;
    top: 0;
    left: 0;
  }

  .menu_content {
    position: fixed;
    background-color: var(--white-bg-color);
    left: 0;
    top: 0;
    z-index: 3;
    height: 100vh;
    width: 0;
    overflow-x: hidden;
    text-align: center;
    transition: 0.5s;

    .close_btn {
      position: absolute;
      font-size: var(--space-24);
      cursor: pointer;
      top: var(--space-16);
      right: var(--space-16);
    }

    .navigation {
      .list {
        list-style-type: none;
        padding: 0;
        cursor: pointer;
        text-align: end;
        margin: var(--space-84) 0 var(--space-40);

        .item {
          padding: var(--space-9) var(--space-30);

          &:not(:last-of-type) {
            margin-bottom: var(--space-20);
          }

          &.active {
            border-right: var(--space-3) solid var(--black-text-color);
          }

          .link {
            @include fontsMixins.paragraph-14-semibold;
            text-decoration: none;
            white-space: nowrap;
          }
        }
      }
    }
  }
  @include breakpoints.for-md-screen {
    display: block;
  }
}
